---
layout: default
---

<main id="main" class="page-content" aria-label="Content">
  <div class="index inner">
    <div class="custom-entry">
      <header class="section-title">
        <h1>A Survey of Source Code Representations for Machine Learning-Based Cybersecurity Tasks</h1>
      </header>
    
      <p><strong>Beatrice Casey, Joanna C. S. Santos, George Perry</strong></p>
    
      <p>
        Machine learning techniques for cybersecurity-related software engineering tasks are becoming increasingly popular.
        The representation of source code is a key portion of the technique that can impact the way the model is able to
        learn the features of the source code. With an increasing number of these techniques being developed, it is
        valuable to see the current state of the field to better understand what exists and what is not there yet.
      </p>
    
      <p>
        This article presents a study of these existing machine learning based approaches and demonstrates what type of
        representations were used for different cybersecurity tasks and programming languages. Additionally, we study what
        types of models are used with different representations.
      </p>
    
      <p>
        We have found that graph-based representations are the most popular category of representation, and tokenizers and
        Abstract Syntax Trees (ASTs) are the two most popular representations overall. (e.g., AST and tokenizers are the representations with the highest count of papers, whereas graph-based representations is the category with the highest count of papers).
         We also found that the most popular
        cybersecurity task is vulnerability detection, and the language that is covered by the most techniques is C.
        Finally, sequence-based models are the most popular category of models, and Support Vector Machines are the most
        popular model overall.
      </p>
      <p><a href="https://arxiv.org/abs/2403.10646" class="more-link">Link to Paper →</a></p>
      
    
     
      <h2>BibTeX</h2>
      <div style="border: 2px solid #444; border-radius: 8px; background-color: #1e1e1e; padding: 1em; overflow-x: auto; color: #f8f8f2; font-family: monospace;">
        <pre><code class="language-bibtex">
      @article{casey2025survey,
        author    = {Casey, Beatrice and Santos, Joanna C. S. and Perry, George},
        title     = {A Survey of Source Code Representations for Machine Learning-Based Cybersecurity Tasks},
        year      = {2025},
        issue_date= {August 2025},
        publisher = {Association for Computing Machinery},
        address   = {New York, NY, USA},
        volume    = {57},
        number    = {8},
        issn      = {0360-0300},
        url       = {https://doi.org/10.1145/3721977},
        doi       = {10.1145/3721977},
        journal   = {ACM Comput. Surv.},
        month     = {apr},
        articleno = {217},
        numpages  = {41},
        keywords  = {Source code representation, machine learning for software security, systematic literature review}
      }
        </code></pre>

      </div>
      
      
      <h2>Tags</h2>
      <p><a href="{{ '/tags' | relative_url }}">All</a></p>
      <p><a href="{{ '/Representations-tags' | relative_url }}">Representations</a></p>
      <p><a href="{{ '/models-tags' | relative_url }}">Models</a></p>
      <p><a href="{{ '/tasks-tags' | relative_url }}">Tasks</a></p>
      <p><a href="{{ '/language-tags' | relative_url }}">Languages</a></p>



    
    
    
</main>
